@use "../variables" as *;

.addsong {
    position: relative;

    border: 5px dashed $darkgrey;
    border-radius: 14px;
    border-spacing: 5px;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

    .button {
        width: 230px;
        height: 60px;
    }
}
