@use "variables" as *;

/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    background-color: $bg-color;
    scroll-behavior: smooth;
}

a {
    color: $green;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}
